# Goggle Analytics tracker config

# The URI being tracked in google analytics
#tracker.uri = ${dspace.url}
tracker.uri = http://www.era-test.lib.ed.ac.uk
username = dls-web@ed.ac.uk
password = cent3nnial
siteid =ga:45543011
filename = analyticscounts.properties
downloads.filename = analyticscountsdownloads.properties
startdate = 2009-11-01
authorization.admin = false
item.authorization.admin = false
collection.authorization.admin = false
dataurl= https://www.google.com/analytics/feeds/data
#can be altered for testing purposes
handleprefix= ${handle.prefix}
